/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.container, .card_hint {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}
.card {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  text-align: left;
  max-width: 200px;
  max-height: 320px;
  border-radius: 4px;
}


img{
  max-width: 200px;
  max-height: 240px;
}

h4,p{
  margin: 0px;
  padding:2px 0px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.tooltip{
  padding: 10px;
  position: absolute;
  top:0;
  right:0;
}